{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <aside>
        <img src="{% static 'main/img/mylogo.jpg' %}" alt="logo">
        <span class="logo">myhope</span>
        <h3>Bo`limlar</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i>Bosh sahifa</li></a>
            <a href="{% url 'about' %}"><li><i class="fas fa-address-card"></i>Biz haqimizda</li></a>
            <a href="{% url 'contact' %}"><li><i class="fab fa-telegram-plane"></i>Biz bilan bog`lanish</li></a>
        </ul>
    </aside>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>